.navbar a {
  color: #fff;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: #fff;
  color: #000;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  overflow: hidden;
}

.container {
  text-align: center;
}

.startup-content {
  opacity: 0;
  position: relative;
  bottom: -100vh;
  animation: fadeIn 2s ease-in-out forwards;
  transition: bottom 1s ease-in-out;
}

.logo {
  max-width: 200px;
  margin-bottom: 20px;
}

.startup-name {
  font-family: Arial, sans-serif;
  font-size: 4em;
  color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.startup-content.slide-up {
  bottom: 0;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}